**Pandas Library Installation**

In [72]:
import pandas as pd
print(pd.__version__)

2.2.2

**Pandas Series**

In [73]:
vegetables=['beetroot','carrot','tomato','coconut','scarlet gourd']

In [74]:
a=pd.Series(vegetables)
a

0         beetroot
1           carrot
2           tomato
3          coconut
4    scarlet gourd
dtype: object

In [75]:
veg_series=pd.Series(vegetables,index=['purple','orange','red','white','green'])
veg_series

purple         beetroot
orange           carrot
red              tomato
white           coconut
green     scarlet gourd
dtype: object

In [76]:
dict1={1:"a",2:"b",3:"c"}
#since dictionary doesnot allow key duplicates the first value of key 1 that is a is replaced by c
dict1

{1: 'a', 2: 'b', 3: 'c'}

In [77]:
veg_dict={'red':'tomato','orange':'carrot'}
veg_dict

{'red': 'tomato', 'orange': 'carrot'}

In [78]:
veg_dict_series=pd.Series(veg_dict)
veg_dict_series

red       tomato
orange    carrot
dtype: object

In [79]:
veg_dict_series['green']='kovakkai'   #Adding key-value pair

In [80]:
veg_dict_series

red         tomato
orange      carrot
green     kovakkai
dtype: object

In [81]:
veg_dict_series.drop(['orange'])    #Removing one key-value pair

red        tomato
green    kovakkai
dtype: object

In [82]:
veg_dict_series   #It won't affect original series

red         tomato
orange      carrot
green     kovakkai
dtype: object

In [83]:
veg_dict_series.drop(['orange'],inplace=True) 
#Removing one key_value pair from original series

In [84]:
veg_dict_series#Removed series printing

red        tomato
green    kovakkai
dtype: object

**Series elements can be heterogeneous & Nested too!**

In [85]:
vegs_dict={'red':['tomato','redchilli'],'green':'kovakkai'}

In [86]:
new_veg_series=pd.Series(vegs_dict)
new_veg_series

red      [tomato, redchilli]
green               kovakkai
dtype: object

In [87]:
type(new_veg_series)

pandas.core.series.Series

In [88]:
type(new_veg_series[0])

C:\Users\Devik\AppData\Local\Temp\ipykernel_3088\1682160237.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(new_veg_series[0])

list

In [89]:
type(new_veg_series[0][0])

C:\Users\Devik\AppData\Local\Temp\ipykernel_3088\300706422.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(new_veg_series[0][0])

str

In [90]:
new_veg_series[0][0]

C:\Users\Devik\AppData\Local\Temp\ipykernel_3088\2317656166.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  new_veg_series[0][0]

'tomato'

**Pandas DataFrames**

**syntax**:pd.DataFrame(iterator)

In [91]:
data={'vegetables':['beetroot','carrot','tomato','kovakkai','coconut'],
      'color':['purple','orange','red','green','white'],
      'unit':['1kg','1kg','1kg','1kg','1piece'],
      'min':[15,25,53,30,'seventeen'],
      'max':[40,45,90,45,38],
     }

In [92]:
market=pd.DataFrame(data)

In [93]:
market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         15   40
1     carrot  orange     1kg         25   45
2     tomato     red     1kg         53   90
3   kovakkai   green     1kg         30   45
4    coconut   white  1piece  seventeen   38

In [94]:
market['unit']

0       1kg
1       1kg
2       1kg
3       1kg
4    1piece
Name: unit, dtype: object

In [95]:
market['min']

0           15
1           25
2           53
3           30
4    seventeen
Name: min, dtype: object

In [96]:
market.loc[0,'unit']      #loc[Row/index,Columnname]

'1kg'

In [97]:
market.loc[0]

vegetables    beetroot
color           purple
unit               1kg
min                 15
max                 40
Name: 0, dtype: object

In [98]:
market.loc[1]

vegetables    carrot
color         orange
unit             1kg
min               25
max               45
Name: 1, dtype: object

In [99]:
market.iloc[0:3,0:3]      #Fetching the range

  vegetables   color unit
0   beetroot  purple  1kg
1     carrot  orange  1kg
2     tomato     red  1kg

**Adding and removing**

In [100]:
market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         15   40
1     carrot  orange     1kg         25   45
2     tomato     red     1kg         53   90
3   kovakkai   green     1kg         30   45
4    coconut   white  1piece  seventeen   38

In [101]:
market.loc[5]={'vegetables':'Cabbage','color':'green','unit':'1piece','min':10,'max':30}
market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         15   40
1     carrot  orange     1kg         25   45
2     tomato     red     1kg         53   90
3   kovakkai   green     1kg         30   45
4    coconut   white  1piece  seventeen   38
5    Cabbage   green  1piece         10   30

In [102]:
market.loc[6]={'vegetables':'Ladies Finger','color':'green','unit':'1kg','min':10,'max':35}
market

      vegetables   color    unit        min  max
0       beetroot  purple     1kg         15   40
1         carrot  orange     1kg         25   45
2         tomato     red     1kg         53   90
3       kovakkai   green     1kg         30   45
4        coconut   white  1piece  seventeen   38
5        Cabbage   green  1piece         10   30
6  Ladies Finger   green     1kg         10   35

In [103]:
market.drop([6])

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         15   40
1     carrot  orange     1kg         25   45
2     tomato     red     1kg         53   90
3   kovakkai   green     1kg         30   45
4    coconut   white  1piece  seventeen   38
5    Cabbage   green  1piece         10   30

In [104]:
market.loc[6]={'vegetables':'Ladies Finger','color':'green','unit':'1kg','min':10,'max':35}
market

      vegetables   color    unit        min  max
0       beetroot  purple     1kg         15   40
1         carrot  orange     1kg         25   45
2         tomato     red     1kg         53   90
3       kovakkai   green     1kg         30   45
4        coconut   white  1piece  seventeen   38
5        Cabbage   green  1piece         10   30
6  Ladies Finger   green     1kg         10   35

In [105]:
market.drop([6],axis=0)

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         15   40
1     carrot  orange     1kg         25   45
2     tomato     red     1kg         53   90
3   kovakkai   green     1kg         30   45
4    coconut   white  1piece  seventeen   38
5    Cabbage   green  1piece         10   30

In [106]:
market   #It won't remove from original market data

      vegetables   color    unit        min  max
0       beetroot  purple     1kg         15   40
1         carrot  orange     1kg         25   45
2         tomato     red     1kg         53   90
3       kovakkai   green     1kg         30   45
4        coconut   white  1piece  seventeen   38
5        Cabbage   green  1piece         10   30
6  Ladies Finger   green     1kg         10   35

In [107]:
market.drop([6],axis=0,inplace=True)

In [108]:
market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         15   40
1     carrot  orange     1kg         25   45
2     tomato     red     1kg         53   90
3   kovakkai   green     1kg         30   45
4    coconut   white  1piece  seventeen   38
5    Cabbage   green  1piece         10   30

**Handling missing values-isna,sum,any,fillna,dropna(imp)**

In [109]:
market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         15   40
1     carrot  orange     1kg         25   45
2     tomato     red     1kg         53   90
3   kovakkai   green     1kg         30   45
4    coconut   white  1piece  seventeen   38
5    Cabbage   green  1piece         10   30

In [110]:
market.isna()   #Checking each and every values whether null or not

   vegetables  color   unit    min    max
0       False  False  False  False  False
1       False  False  False  False  False
2       False  False  False  False  False
3       False  False  False  False  False
4       False  False  False  False  False
5       False  False  False  False  False

In [111]:
market.isna().sum()    #Counting the number of null values

vegetables    0
color         0
unit          0
min           0
max           0
dtype: int64

In [112]:
import numpy as np    #To fill the null values we need numpy package

In [113]:
market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         15   40
1     carrot  orange     1kg         25   45
2     tomato     red     1kg         53   90
3   kovakkai   green     1kg         30   45
4    coconut   white  1piece  seventeen   38
5    Cabbage   green  1piece         10   30

In [114]:
market.loc[4,'min']=np.nan                 #Using np.nan we included null values

In [115]:
market

  vegetables   color    unit  min  max
0   beetroot  purple     1kg   15   40
1     carrot  orange     1kg   25   45
2     tomato     red     1kg   53   90
3   kovakkai   green     1kg   30   45
4    coconut   white  1piece  NaN   38
5    Cabbage   green  1piece   10   30

DataFrame market contains a column like 'min' with mixed types  probably because it once had a string like 'seventeen' in it (as you mentioned earlier), so pandas treats the column as object type, not numeric.  So if it type integer then we can fill null value with integer values as market.fillna(20,inplace=True)...otherwise leads to error...

In [116]:
market.fillna(False,inplace=True)#Null value is filled by False variable

In [117]:
market

  vegetables   color    unit    min  max
0   beetroot  purple     1kg     15   40
1     carrot  orange     1kg     25   45
2     tomato     red     1kg     53   90
3   kovakkai   green     1kg     30   45
4    coconut   white  1piece  False   38
5    Cabbage   green  1piece     10   30

In [118]:
market.dropna(axis=0)   #Not dropping anything because there is no null

  vegetables   color    unit    min  max
0   beetroot  purple     1kg     15   40
1     carrot  orange     1kg     25   45
2     tomato     red     1kg     53   90
3   kovakkai   green     1kg     30   45
4    coconut   white  1piece  False   38
5    Cabbage   green  1piece     10   30

**Lambda Function**

In [119]:
market['max']=market['max'].apply(lambda x:x+5)    #Lambda function applied to increase the maximum values by 5

In [120]:
market

  vegetables   color    unit    min  max
0   beetroot  purple     1kg     15   45
1     carrot  orange     1kg     25   50
2     tomato     red     1kg     53   95
3   kovakkai   green     1kg     30   50
4    coconut   white  1piece  False   43
5    Cabbage   green  1piece     10   35

**Data Aggregation and grouping**

In [121]:
market

  vegetables   color    unit    min  max
0   beetroot  purple     1kg     15   45
1     carrot  orange     1kg     25   50
2     tomato     red     1kg     53   95
3   kovakkai   green     1kg     30   50
4    coconut   white  1piece  False   43
5    Cabbage   green  1piece     10   35

In [122]:
market['max'].sum()   #Sum of max column values

318

In [123]:
market['max'].count()  #Count of columns

6

In [124]:
market['max'].max()    #Maximum value of max column

95

In [125]:
market['max'].min()   #Minimum value of max column

35

In [126]:
market.groupby('unit').sum()

                          vegetables                 color  min  max
unit
1kg     beetrootcarrottomatokovakkai  purpleorangeredgreen  123  240
1piece                coconutCabbage            whitegreen   10   78

In [127]:
market

  vegetables   color    unit    min  max
0   beetroot  purple     1kg     15   45
1     carrot  orange     1kg     25   50
2     tomato     red     1kg     53   95
3   kovakkai   green     1kg     30   50
4    coconut   white  1piece  False   43
5    Cabbage   green  1piece     10   35

In [128]:
market.groupby('vegetables').sum()

             color    unit    min  max
vegetables
Cabbage      green  1piece     10   35
beetroot    purple     1kg     15   45
carrot      orange     1kg     25   50
coconut      white  1piece  False   43
kovakkai     green     1kg     30   50
tomato         red     1kg     53   95

In [129]:
market.groupby('color').sum()

             vegetables       unit    min  max
color
green   kovakkaiCabbage  1kg1piece     40   85
orange           carrot        1kg     25   50
purple         beetroot        1kg     15   45
red              tomato        1kg     53   95
white           coconut     1piece  False   43

In [130]:
market.groupby('min').sum()

      vegetables   color    unit  max
min
False    coconut   white  1piece   43
10       Cabbage   green  1piece   35
15      beetroot  purple     1kg   45
25        carrot  orange     1kg   50
30      kovakkai   green     1kg   50
53        tomato     red     1kg   95

In [131]:
market.groupby('max').sum()

         vegetables        color    unit    min
max
35          Cabbage        green  1piece     10
43          coconut        white  1piece  False
45         beetroot       purple     1kg     15
50   carrotkovakkai  orangegreen  1kg1kg     55
95           tomato          red     1kg     53

In [132]:
market.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   vegetables  6 non-null      object
 1   color       6 non-null      object
 2   unit        6 non-null      object
 3   min         6 non-null      object
 4   max         6 non-null      int64
dtypes: int64(1), object(4)
memory usage: 460.0+ bytes

In [134]:
pd.read_csv('stu social media addict.csv')

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8

In [135]:
pd.read_csv('market.csv')

  vegetables   color    unit       min   max
0   beetroot  purple     1kg         15   40
1     carrot  orange     1kg         25   45
2     tomato     red     1kg         53   90
3   kovakkai   green     1kg         30   45
4    coconut   white  1piece  seventeen   38